// 主题颜色
$bg: #128afe;
// 
$color: #128afe;
//默认字体大小
$size:12px;
// 标题大小
$title-size: 20px;
// 标题字体颜色
$color3: #333;
// 白色
$white: #fff;
// 表格 头部颜色
$tableColor: #F3F6F8;
// 字体颜色
$fontColor: #128afe;
// 新闻按钮颜色
$newColor: #EA6871;
// 新闻按钮背景色
$newBg: linear-gradient(90deg,#eb6b71,#ee8e66);;
// 新闻正面按钮的背景颜色
$front: linear-gradient(90deg,#46be8a,#3edcc0);
// 新闻中立按钮的背景颜色
$neutral: #e4eaec;
// 新闻中立按钮的字体颜色
$neutralcolor: #76838f;
// 新闻负面按钮的背景颜色
$negative: linear-gradient(90deg,#eb6b71,#ee8e66);
// 10px
$size-10: 10px;
// 12px
$size-12: 12px;
// 14px
$size-14: 14px;
// 16px
$size-16: 16px;
// 18px
$size-18: 18px;
// 20px
$size-20: 20px;
// 22px
$size-22: 22px;
// 120px
$size-120: 120px;
// 弹框标题的颜色
$dialog-bg: linear-gradient(-270deg, #098bff, #5485fc);
// 按钮背景颜色
$primary-btn: linear-gradient(-40deg,rgba(111,129,251,1),rgba(61,164,247,1));
// 页面背景色
$page-bg: #f1f4f5;
// 登录过期的颜色
$login-date: #76838f;
// div-space-between  盒子之间的间距
$div-space-between: 10px;
// 盒子阴影
$div-shaw: 0px 1px 8px 0px rgba(202,204,204,0.65);
// 标题竖线的颜色
$describe: linear-gradient(135deg,rgba(88,163,240,1),rgba(110,133,243,1));
$border: #dfdfdf;